@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Readex+Pro:wght@160..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


:root {
  --primary-color: #dcd7f8;
  --text-dark: #3f3b57;
  --text-light: #908ca3;
  --white: #ffffff;
  --max-width: 2000px;
  
  
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
}
nav {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  padding: 1rem;
}
.logo-default {  
  display: none; /* Hide the default logo on smaller screens */  
}  

.logo-alternate {  
  display: block; /* Show the alternate logo on smaller screens */  
}
.BTNpr-default {
  display: none;
}
.BTNpr-alternate {
  display: block;
}
.BTNpr{
  font-family: "Plus Jakarta Sans", sans-serif;  
  background-color: #F47F22;
  display: flex;
padding: 16px 56px;
justify-content: center;
align-items: center;
gap: 4px;
border: none;
border-radius: 32px;
color: white;

font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 27px */
letter-spacing: -0.36px;

}
.BTNnv{
  font-family: "Plus Jakarta Sans", sans-serif;  
  background-color: #F47F22;
  display: flex;
padding: 16px 46px;
justify-content: center;
align-items: center;
gap: 4px;
width: 220px;
border: none;
border-radius: 32px;
color: white;

font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 27px */
letter-spacing: -0.36px;

}

.navlang {
  width: 100%;
  background: var(--background-f-8-f-9-fb-soft-elevation, #F8F9FB);
  position: fixed;
  z-index: 10;
  top: 0px;
  height: 40px;
}
.current-language {
  color: var(--Intripid-Primary-31374A, #31374A);
  font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 21px */
letter-spacing: -0.28px;
}

.language-bar {
  
  justify-content: end;
  font-family: Arial, sans-serif;
}

.language {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  background: var(--background-f-8-f-9-fb-soft-elevation, #F8F9FB);
  padding: 8px 16px;
  padding-right: 40px;
  justify-content: flex-end;
  
}

.language .flag-icon {
  font-size: 14px;
  color: #31374A;
}

.language-dropdown {
  display: none;
  margin-right: 30px;
  width: 90px;
  position: absolute;
  right: 0;
  margin-top: 10px;
  list-style: none;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 5px 0;
}

.language-dropdown.visible {
  display: block;
}


.language-dropdown li {
  padding: 8px 12px;
  cursor: pointer;
  transition: background 0.3s;
  color: var(--Intripid-Primary-31374A, #31374A);
  font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 21px */
letter-spacing: -0.28px;
}

.language-dropdown li:hover {
  background: #f0f0f0;
}


.section__container {
    max-width: 100%;
    padding-top: 120px;
    margin: auto;
    display: grid;
    padding: 24px;
    padding-top: 120px;
    padding-bottom: 120px;
    justify-content: center;
  }
  .section__container2 {
    max-width: 100%;
    padding-top: 120px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 24px;
    padding-top: 120px;
    padding-bottom: 120px;
    justify-content: center;
  }

  .section__container1 {
    max-width: 100%;
    padding-top: 120px;
    margin: auto;
  }

.section__subheader {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-light);
  text-align: center;
}

.section__header {
top: 180px;
font-family: "Readex Pro";
font-size: 38px;
font-style: normal;
font-weight: 600;
line-height: 116%; /* 44.08px */
letter-spacing: -1.52px;
text-align: center;
color: white;
padding-left: 24px;
padding-right: 24px;
}
.section__header1 {
  top: 180px;
  color: var(--Intripid-Primary-31374A, #31374A);
  text-align: center;
  /* Heading/H3 */
  font-family: "Readex Pro";
  font-size: 51px;
  font-style: normal;
  font-weight: 600;
  line-height: 116%; /* 59.16px */
  letter-spacing: -2.04px;
  padding-left: 24px;
  padding-right: 24px;
}

img {
  display: flex;
}


a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

html,
body {
  scroll-behavior: smooth;
}


body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

nav {
  isolation: isolate;
  width: 100%;
  z-index: 9;
  top: 40px;
  padding-top: 20px;
  
}

.nav__header {
  padding: 1rem;
  padding: 16px 24px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  position: fixed;
  top:33px;
  z-index: 9;
}
.swiper p{
 text-align: center;
 margin-top: 15px;
 color: white;
}



.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--text-dark);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  bottom: 0;
  left: 0;
  top: -350px;
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--white);
  transition: transform 0.5s;
  z-index: -1;
}

.nav__links.open {
  transform: translateY(100%);
}


.but{
  display: flex;
  width: 100%;
  justify-content: center;
}
.btndiv{
  display: flex;
  justify-content: center;
  margin-top: 25px;
  width: 100%;
  
}
.btndiv1{
  display: flex;
  justify-content: center;
  margin-top: 25px;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
}
.BTNpr2{
  font-family: "Plus Jakarta Sans", sans-serif;  
  display: flex;
height: 59px;
padding: 16px 56px;
width: 100%;
justify-content: center;
align-items: center;
gap: 4px;
align-self: stretch;
border-radius: 32px;
border: 1px solid #E0E0E0;
background: var(--background-ffffff-white, #FFF);
}
.BTNprf{
  font-family: "Plus Jakarta Sans", sans-serif;  
  display: flex;
height: 59px;

justify-content: center;
align-items: center;
gap: 4px;
align-self: stretch;
width: 100%;
border-radius: 32px;
color: #31374A;
border: 1px solid #E0E0E0;
background: var(--background-ffffff-white, #FFF);
}
.BTNpr3{
  font-family: "Plus Jakarta Sans", sans-serif;  
  background-color: #F47F22;
    display: flex;
padding: 16px 56px;
justify-content: center;
align-items: center;
gap: 4px;
border: none;
border-radius: 32px;
color: white;
width: 280px;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 27px */
letter-spacing: -0.36px;

}





.email-input {
  padding: 16px 24px;
  width: 62%;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.btn-submit {
  padding: 16px 24px;
  background-color: #F47F22;
  color: white;
  border: none;
  width: 34%;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: #f5a86a;
}



.nav__links a {

  font-weight: 500;
  color: var(--text-dark);
}

.nav__links a:hover {
  color: var(--primary-color);
}

header {
  padding-top: 5rem;
  position: relative;
  isolation: isolate;
  top: 40px;
  background-color: transparent;
}

.header__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  background-color: var(--white);
  z-index: -1;
}
.header__container {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  margin-top: 40px;
}

.header__container1 {
  padding: 24px;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  gap: 120px;
  justify-content: center;
}
.hearder-title1{
  color: var(--Intripid-Primary-31374A, #31374A);
  /* Heading/H3 */
  font-family: "Readex Pro";
  font-size: 51px;
  font-style: normal;
  font-weight: 600;
  line-height: 116%;
  letter-spacing: -2.04px;
}

.custom-bullet-list {
  list-style: none; /* Removes default bullets */
}

.custom-bullet-list li {
  margin: 8px 0;
  color: var(--Intripid-Primary-31374A, #31374A);
/* Subheading/300 */
font-family: "Plus Jakarta Sans";
display: flex;
font-size: 18px;
font-style: normal;
display: flex;
font-weight: 400;
line-height: 150%; /* 27px */
letter-spacing: -0.36px;
}

.fa-check {
  
  color: #F47F22;
  font-weight: bold;
  padding-right: 8px;
  padding-top: 8px;
  left: 0; /* Positions the bullet to the left of the text */
  top: 0;
}
.fa-quote-left{
  color: #925DE8;
  font-size: 38px;
  
}
.cardde{
  display: flex;
  flex-direction: column;
}
.cardde p{
  color: var(--Intripid-Primary-31374A, #31374A);
/* Subheading/400 */
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 27px */
letter-spacing: -0.36px;
}


.header__content h4 {
  max-width: fit-content;
  margin-inline: auto;
  margin-bottom: 1rem;
  padding: 5px 15px;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-dark);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5rem;
}

.header__content h1 {
  font-family: "Readex Pro";
font-size: 51px;
font-style: normal;
font-weight: 600;
line-height: 116%; /* 59.16px */
letter-spacing: -2.04px;
padding-bottom: 40px;
}

.header__content h1 span {
  font-family: "Readex Pro";
font-size: 51px;
font-style: normal;
font-weight: 600;
line-height: 116%; /* 59.16px */
letter-spacing: -2.04px;
}

.header__content h2 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
  text-align: center;
}

.header__content p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
  letter-spacing: -0.36px;
}

.header__btn button {
  padding-block: 0.5rem;
  padding-inline: 1.5rem 0.5rem;
  margin-inline: auto;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  color: var(--text-dark);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5rem;
  transition: 0.3s;
  cursor: pointer;
}

.header__btn button span {
  padding: 5px 7px;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 100%;
}

.header__btn button:hover {
  color: var(--white);
  background-color: rgba(0, 0, 0, 0.4);
}

.header__btn button:hover span {
  background-color: rgba(0, 0, 0, 0.4);
}
.tag__head h1{
  color: var(--Intripid-Primary-31374A, #31374A);
text-align: center;
/* Heading/H2 */
font-family: "Readex Pro";
font-size: 67px;
font-style: normal;
font-weight: 600;
line-height: 116%; /* 77.72px */
letter-spacing: -2.68px;
}
.tag{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.tag__top{
  display: flex;
  padding: 8px 32px;
  justify-content: center;
  align-items: center;
  
  border-radius: 32px;
  background: var(--Intripid-Primary-31374A, #31374A);
}
.tag__head{
  gap: 24px;    
  display: flex;
  flex-direction: column;
  
}
.tag__head p{
  color: var(--Intripid-Primary-31374A, #31374A);
text-align: center;
/* Subheading/300 */
font-family: "Plus Jakarta Sans";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 27px */
letter-spacing: -0.36px;
}
.tag__top p{
  color: var(--Intripid-Text-Inverse, #FFF);
/* Subtitle/400 */
font-family: "Plus Jakarta Sans";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 21px */
letter-spacing: -0.28px;
}

.header__image {
  position: relative;
  isolation: isolate;
}
.header__image1 {
 display: flex;
 justify-content: center;
 flex-direction: column;
}
.header__image1 img {
  width: 308px;
}
.header__image2 {
  display: flex;
  justify-content: center;
 }
.header__content1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.header__content1001{
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;

}
.header__content1001 h1{
  color: var(--Intripid-Text-Dark, #31374A);
/* Heading/H3 */
font-family: "Readex Pro";
font-size: 51px;
font-style: normal;
font-weight: 600;
line-height: 116%;
letter-spacing: -2.04px;
padding-bottom: 16px;
}
.header__content0001 h1{
  padding-bottom: 40px;
  color: var(--Intripid-Primary-31374A, #31374A);
font-family: "Readex Pro";
font-size: 51px;
font-style: normal;
font-weight: 600;
line-height: 116%;
letter-spacing: -2.04px;
}
.client__card00 {
  padding: 20px;
  border-radius: 8px;
  background-color: #f5f5f5; /* Default background */
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.client__card00:hover {
  background-color: #e0e0e0; /* Hover effect */
}
.client__card00.active{
  
  border: 2px solid #9b59b6; /* Optional: Add a border for distinction */
}

.client__card00.active h4 {
  display: inline; /* Hidden by default */
  color: var(--Intripid-Text-Purple, #925DE8);
/* Heading/H5 */
font-size: 28px;
font-style: normal;

line-height: 116%; /* 32.48px */
letter-spacing: -1.12px;
  transition: all 0.3s ease-in-out;
}

.header__content1001 p{
  text-align: center;
}
.header__content1 h1 {
font-family: "Readex Pro";
font-size: 51px;
font-style: normal;
font-weight: 600;
line-height: 116%; /* 59.16px */
letter-spacing: -2.04px;
}

.header__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

form p{
  font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 21px */
letter-spacing: -0.28px;
color: var(--Intripid-Text-Placeholder, #9E9E9E);
width: 100%;

}

.header__image img {
  max-width: 320px;
  margin-inline: auto;
}
.header__image2 img {
  width: 100%;
}

img.header__image-bg {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  max-width: 300px !important;
  z-index: -1;
}

.intro__grid {
  margin-top: 4rem;
  display: grid;
  gap: 2rem;
}

.intro__card {
  text-align: center;
}

.intro__card div {
  max-width: fit-content;
  margin-inline: auto;
  margin-bottom: 1rem;
  padding: 2rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.intro__card:nth-child(1) div {
  background-image: url("assets/intro-1-bg.png");
}

.intro__card:nth-child(2) div {
  background-image: url("assets/intro-2-bg.png");
}

.intro__card:nth-child(3) div {
  background-image: url("assets/intro-3-bg.png");
}

.intro__card div img {
  width: unset;
  height: 75px;
}

.intro__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.intro__card p {
  margin-bottom: 2rem;
  color: var(--text-light);
}

.intro__card a {
  display: inline-block;
  padding: 0.5rem 2rem;
  border: 2px solid;
  border-radius: 5rem;
  transition: 0.3s;
}

.intro__card:nth-child(1) a {
  color: #ffc737;
  border-color: #ffc737;
}

.intro__card:nth-child(1) a:hover {
  color: var(--white);
  background-color: #ffc737;
}

.intro__card:nth-child(2) a {
  color: #257ae7;
  border-color: #257ae7;
}

.intro__card:nth-child(2) a:hover {
  color: var(--white);
  background-color: #257ae7;
}

.intro__card:nth-child(3) a {
  color: #cba9b6;
  border-color: #cba9b6;
}

.intro__card:nth-child(3) a:hover {
  color: var(--white);
  background-color: #cba9b6;
}

.about__row {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  overflow: hidden;
}

.about__row:nth-child(3) {
  margin-top: 4rem;
}

.about__image {
  flex: 1;
  max-width: 400px;
  margin-inline: auto;
}
.header__content1 p span {
  color: var(--Intripid-Text-Dark, #31374A);
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.36px;
}
.ssl span{
  color: var(--_Archives-V2-9505C9, #925DE8);
/* Heading/H2 */
font-family: "Readex Pro";
font-size: 67px;
font-style: normal;
font-weight: 600;
line-height: 116%;
letter-spacing: -2.68px;
}

.about__content {
  flex: 1;
  text-align: center;
}

.about__content span {
  margin-inline: auto;
  margin-bottom: 1rem;
  width: 80px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.about__content span img {
  max-width: 40px;
}

.about__row:nth-child(3) .about__content span {
  background-color: #fdf2d9;
}

.about__row:nth-child(4) .about__content span {
  background-color: #e8f7fe;
}

.about__row:nth-child(5) .about__content span {
  background-color: #fbebf1;
}

.about__content h4 {
  max-width: 450px;
  margin-inline: auto;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 500;
  color: var(--text-dark);
  line-height: 3rem;
}
.cardimg{
  height: 191px;
  width: 191px;
  flex-shrink: 0;
}
.cardimg img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.box-steps{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  
}
.fa-circle-check {
  display: none; /* Hidden by default */
  color: var(--Intripid-Text-Purple, #925DE8);
/* Heading/H5 */
font-size: 28px;
font-style: normal;

line-height: 116%; /* 32.48px */
letter-spacing: -1.12px;
  transition: all 0.3s ease-in-out;
}

.fa-circle-xmark {
  display: inline; /* Visible by default */
  color: var(--Intripid-Text-Warning, #FF5E67);
font-family: "Font Awesome 6 Pro";
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: 116%;
letter-spacing: -1.12px;
  transition: all 0.3s ease-in-out;
}

/* When card is active, toggle visibility */
.client__card00.active .fa-circle-check {
  display: inline;
}

.client__card00.active .fa-circle-xmark {
  display: none;
}

.cardsteps{
  display: flex;
  flex-direction: column;
}
.buttonsteps{
  display: flex;
}
.step1 {
  display: flex;
padding: 16px 40px;
justify-content: center;
align-items: center;
gap: 4px;
width: 50%;
flex: 1 0 0;
border: 1px solid var(--background-f-5-f-5-f-5-outline-soft, #F5F5F5);
background: var(--background-f-8-f-9-fb-soft-elevation, #F8F9FB);
}
.step2 {
  display: flex;
  width: 50%;
padding: 16px 40px;
justify-content: center;
align-items: center;
gap: 4px;
flex: 1 0 0;
border: 1px solid var(--background-f-5-f-5-f-5-outline-soft, #F5F5F5);
background: var(--background-f-8-f-9-fb-soft-elevation, #F8F9FB);
}

.testimonial-slider {
  position: relative;
  max-width: 600px;
  margin: 80px auto;
  text-align: center;
}

.slider-container {
  position: relative;
  overflow: hidden;
  padding: 10px 35px;
}

.testimonial {
  display: none; /* Hidden by default */
  padding: 25px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: #fff;
  transition: all 0.5s ease-in-out;
}

.testimonial.active {
  display: block; /* Show active testimonial */
}

.testimonial-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 15px;
}
.box-default {
  display: none;
}

.box-alternate {
  display: block;
}


h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}

p {
  font-size: 0.9rem;
  color: #555;
}
.cardflex{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #8B58DF;; /* Blue background */
  color: white; /* White arrow color */
  border: none; /* Remove default borders */
  border-radius: 50%; /* Circular shape */
  width: 50px; /* Button width */
  height: 50px; /* Button height */
  display: flex; /* Center arrow icon */
  align-items: center; /* Vertical alignment */
  justify-content: center; /* Horizontal alignment */
  font-size: 20px; /* Arrow icon size */
  cursor: pointer; /* Pointer cursor */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for elevation */
  
}

.arrow:hover {
  background-color: #0056b3; /* Darker blue on hover */
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); /* Enhance shadow on hover */
  transform: translateY(-50%) scale(1.1); /* Slightly increase size on hover */
  transition: all 0.3s ease-in-out; /* Smooth transition for hover effect */
}

.arrow.left {
  left: 10px; /* Position the left arrow */
}

.arrow.right {
  right: 10px; /* Position the right arrow */
}

.about__content p {
  max-width: 450px;
  margin-inline: auto;
  color: var(--text-light);
}

.product {
  position: relative;
  isolation: isolate;
}

.box-steps-desc{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.product::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 65%;
  background-color: #fdf2d9;
  z-index: -1;
}

.product__grid {
  margin-top: 4rem;
  display: grid;
  gap: 2rem;
}

.product__card h4 {
  margin-block: 1rem 5px;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-dark);
}

.product__card p {
  margin-bottom: 1rem;
  color: var(--text-light);
}

.product__card h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.service__flex {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  flex-wrap: wrap;
}

.service__card div {
  margin-bottom: 2rem;
  margin-inline: auto;
  width: 120px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dff3fd;
  border-radius: 100%;
}
.cards{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  margin-bottom: 160px;
  margin-top: 80px;
}

.service__card img {
  max-width: 45px;
}

.service__card p {
  font-weight: 500;
  color: var(--text-light);
}

.client {
  
  background: linear-gradient(rgba(162, 121, 229, 0.5), rgba(162, 121, 229, 0.5)), 
                url('./assets/bg/mobile.png');
    background-size: cover;
    background-position: center;
    margin-top: 200px;
}
.client8 {
  
  background: url('./assets/feature/Features\ Section\ footer.png');
    background-size: cover;
    background-position: center;
    margin-top: 120px;
    
}

.statis {
  margin-top: 4rem;
  width: 100%;
  
}

.swiper {
  margin-top: 4rem;
  width: 100%;
  
}
.boxyy {
  margin-top: 4rem;
  width: 100%;
  
}
.swiper-wrapper {
  justify-content: center;
  display: grid;
  gap: 24px;
}
.swiper-wrapper00 {
  justify-content: center;
  display: grid;
  gap: 24px;
}


.swiper-slide {
  width: 310px;
}


.client__card {
  padding: 1.5rem;
  background-color: var(--white);
  border-radius: 1rem;
  transition: 0.3s;
}

.client__card00 {
  display: flex;
padding: 32px;
flex-direction: column;
align-items: flex-start;
flex: 1 0 0;
border-radius: 16px;
border: 1px solid #E0E0E0;
background: #F8F9FB;
}

.client__card00 p{
  color: var(--Intripid-Primary-31374A, #31374A);
/* Subheading/300 */

font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 27px */
letter-spacing: -0.36px;
}
.client__details00 h4 {
  color: var(--Intripid-Text-Warning, #FF5E67);
/* Heading/H5 */
font-family: "Readex Pro";
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 116%; /* 32.48px */
letter-spacing: -1.12px;

}
.client__details00 h4 {
  color: var(--Intripid-Text-Warning, #FF5E67);
/* Heading/H5 */
font-family: "Readex Pro";
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 116%; /* 32.48px */
letter-spacing: -1.12px;

}

.client__details {
  margin-bottom: 1rem;
  display: grid;
  align-items: center;
  gap: 1rem;
}

.client__details img {
  width: 77px;
  height: 77px;
  
}

.client__details h4 {
  font-family: "Readex Pro";
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 116%; /* 32.48px */
letter-spacing: -1.12px;
color: #31374A;
}

.client__details h5 {
  font-weight: 500;
  color: var(--text-light);
}

.client__card p {
  font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 27px */
letter-spacing: -0.36px;
color: #31374A;
text-align: left;
}

.step-content {
  display: none; /* Hide all steps by default */
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.step-content.active {
  display: block; /* Show active step */
  opacity: 1;
  
}

.step-button {
  display: flex;
padding: 16px 40px;
justify-content: center;
align-items: center;
gap: 4px;
flex: 1 0 0;
border: 1px solid var(--background-f-5-f-5-f-5-outline-soft, #F5F5F5);
background: var(--background-f-8-f-9-fb-soft-elevation, #F8F9FB);
  cursor: pointer;
  color: var(--Intripid-Text-Dark, #31374A);
/* Subheading/400 */

font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 27px */
letter-spacing: -0.36px;
}
.step-button:hover,
.step-button.active {
  border-bottom: 8px solid var(--Intripid-Primary-F47F22, #F47F22);
  background: var(--background-f-1-f-1-f-1-hard-elevation, #F1F1F1);
}

.statis-wrapper {
  overflow-x: scroll; /* Enable horizontal scrolling */
  overflow-y: hidden; /* Disable vertical scrolling */
  
  display: flex;
  justify-content: start; /* Align content to the start */
  scroll-behavior: smooth; /* Smooth scrolling for a better user experience */
}

.header__container100 {
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  gap: 120px;
  justify-content: center;
}

.instagram__container p {
  max-width: fit-content;
  margin-bottom: 1rem;
  padding: 6px 20px;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-dark);
  background-color: #e6e3fa;
  border-radius: 5rem;
}

.instagram__container .section__header {
  padding-bottom: 1rem;
  text-align: left;
  border-bottom: 1px solid var(--text-light);
}

.instagram__grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.footer__container {
    justify-content: center;
    display: grid;
    gap: 4rem 2rem;
}

.footer__logo a {
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--text-dark);
}


.footer__col h4 {
  font-family: "Readex Pro", sans-serif;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.footer__links {
  display: grid;
  gap: 1rem;
}

.footer__links a {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-dark);
  letter-spacing: -0.32px;
}

.footer__links a:hover {
  color: var(--primary-color);
}

.footer__col p {
  margin-bottom: 1rem;
  color: var(--text-dark);
}

.footer__col form {
  width: 100%;
  display: flex;
  align-items: center;
  border: 2px solid var(--primary-color);
  border-radius: 5rem;
}
.footer__logo p {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-dark);
    letter-spacing: -0.32px;
    margin-bottom: 40px;
  }

.footer__col form input {
  padding-inline: 0.5rem;
  width: 100%;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--text-dark);
  background-color: transparent;
}

.footer__col form button {
  padding: 0.25rem 1.5rem;
  outline: none;
  border: none;
  color: var(--text-dark);
  font-size: 2rem;
  background-color: var(--primary-color);
  border-radius: 5rem;
  cursor: pointer;
}

.footer__socials {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
}



.fimg{
    width: 216px;
    margin-bottom: 25px;
}

.footerbarbelow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    
}

.footer__bar {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.9rem;
  color: var(--text-light);
  text-align: left;
}
.footer__barr8{
  padding-top: 1rem;
  padding-bottom: 1rem;
    color: var(--text-light);
    text-align: right;
  }
  
  .lastfootercolumn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
  .footer__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  .mobile{
    width: 280px;
    display: flex;
    gap: 15px;
    align-items: center;
  }


  .footer__col1 {
   width:  100%;

  }
  @media (width < 360px){
    .BTNnv {
      font-family: "Plus Jakarta Sans", sans-serif;
      background-color: #F47F22;
      display: flex
  ;
      padding: 16px 26px;
      justify-content: center;
      align-items: center;
      gap: 4px;
      width: 180px;
      border: none;
      border-radius: 32px;
      color: white;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      letter-spacing: -0.36px;
  }
  .header__image img {
    max-width: 280px;
    margin-inline: auto;
}
  .subscribef{
  display: flex;
  flex-wrap: wrap;}

  .btn-submit {
    padding: 16px 24px;
    background-color: #F47F22;
    color: white;
    border: none;
    width: 30%;
    
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}
  }

@media (width > 540px) {
  .header__content h1 {
    font-size: 90px;
    font-weight: 600;
    line-height: 116%; /* 104.4px */
    letter-spacing: -3.6px;
  }
  .header__content1 h1{
    color: var(--Intripid-Primary-31374A, #31374A);
/* Heading/H3 */
    font-family: "Readex Pro";
    font-size: 51px;
    font-style: normal;
    font-weight: 600;
    line-height: 116%;
    letter-spacing: -2.04px;
  }
  
  .header__content1 p{
    font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 27px */
letter-spacing: -0.36px;
  }
  
  
  .header__content1001 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
  }
  
  .client {
  
    background: linear-gradient(rgba(162, 121, 229, 0.5), rgba(162, 121, 229, 0.5)), 
                  url('./assets/bg/Tablet.png');
      background-size: cover;
      background-position: center;
  }

  .box-default {
    display: block;
  }
  
  .box-alternate {
    display: none;
  }
  .header__container1 {
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 120px;
    justify-content: center;
}
.header__container100 {
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  gap: 120px;
  justify-content: center;
}

.fa-quote-left{
  color: #AD89E8;
  font-size: 38px;
  
}
.cardde{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}
.BTNprf {
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  height: 59px;
  width: 240px;
  padding: 16px 56px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  align-self: stretch;
  border-radius: 32px;
  border: 1px solid #E0E0E0;
  background: var(--background-ffffff-white, #FFF);
}
.BTNpr2{
  font-family: "Plus Jakarta Sans", sans-serif;  
  display: flex;
height: 59px;
padding: 16px 56px;
width: 374px;
justify-content: center;
align-items: center;
gap: 4px;
align-self: stretch;
border-radius: 32px;
border: 1px solid #E0E0E0;
background: var(--background-ffffff-white, #FFF);
}
  .btndiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
  .btndiv1{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    width: 374px;
    margin-top: 60px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .header__content h1 span {
    font-size: 90px;
    font-weight: 600;
    line-height: 116%; /* 104.4px */
    letter-spacing: -3.6px;
  }
  .client8 {
  
    background: url('./assets/feature/Features\ Section\ Container.png');
      background-size: cover;
      background-position: center;
      
  }
  .footer__logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

  .intro__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .product__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .instagram__grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .BTNnv{
    font-family: "Plus Jakarta Sans", sans-serif;  
    background-color: #F47F22;
    display: flex;
  padding: 16px 56px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 240px;
  border: none;
  border-radius: 32px;
  color: white;
  
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
  letter-spacing: -0.36px;
  
  }
  .header__image1 img {
    width: 490px;
}
.header__container {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  justify-content: center;
  margin-top: 40px;
}
.footer__container {
  justify-content: start;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem 2rem;
}

.boxyy {
  margin-top: 4rem;
  width: 470px;
  
}
.section__container2 {
  max-width: 100%;
  padding-top: 120px;
  margin: auto;
  display: flex
;
  flex-direction: column;
  gap: 80px;
   padding-left: 55px;
   padding-left: 55px;
  padding-top: 120px;
   padding-bottom: 120px; 
  justify-content: center;
}
.lastfootercolumn{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}
  

  .footer__col1 {
    width: 100%;
 
   }
   .footer__col {
    width: 307px;
   }
   body {
    width: 100%;
  }
  .header__image img {
    max-width: 500px;
  }
  
  .tag__head{
    gap: 24px;    
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
  }
  
}
.swiper {
  margin-top: 4rem;
  width: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}

@media (width > 768px) {
  nav {
    background-color: white;
    padding: 0.5rem 1rem;
    max-width: var(--max-width);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .header__image img {
    max-width: 600px;
  }
  .lang-menu {
    background-color: white;
    padding: 0.5rem 1rem;
    max-width: var(--max-width);
    margin-inline: auto;
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: flex-end; 
  }
  .nav__links {
    position: absolute;
    bottom: 0;
    left: 0;
    top: -350px;
    width: 100%;
    padding-left: 56px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--white);
    transition: transform 0.5s;
    z-index: -1;
  }
  .nav__links.open {
    transform: translateY(100%);
  }
  .client {
  
    background: linear-gradient(rgba(162, 121, 229, 0.5), rgba(162, 121, 229, 0.5)), 
                  url('./assets/bg/Tablet.png');
      background-size: cover;
      background-position: center;
  }
  

  .nav__header {
    padding: 24px 56px;
    top: 40px;
  }

  .boxyy {
    margin-top: 4rem;
    width: 570px;
    margin-left: 200px;
    
  }

  .nav__logo a {
    font-size: 1.5rem;
  }



  header {
    padding-top: 0;
  }
  
  .section__header {
    top: 180px;
    font-family: "Readex Pro";
    font-size: 38px;
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 116%;
    letter-spacing: -1.52px;
    text-align: center;
    color: white;
    padding-left: 24px;
    padding-right: 24px;
}
  

  .header__content {
    grid-area: 1/2/2/3;
  }

  .header__content :is(h4, .header__btn button) {
    margin-inline-start: unset;
  }

  .header__content :is(h1, h2) {
    text-align: left;
  }

  .header__content p {
    max-width: 400px;
    text-align: left;
  }

  .header__image img {
    max-width: 700px;
  }

  .intro__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .about__row {
    flex-direction: row;
    align-items: center;
  }

  .about__row:nth-child(4) {
    flex-direction: row-reverse;
  }
  .box-steps-desc{
    width: 100%;
  }
  .about__image {
    max-width: unset;
    margin-inline: auto;
  }
  .section__container {
    max-width: 100%;
    margin: auto;
    display: grid;
    padding: 24px;
    padding-top: 160px;
    padding-bottom: 160px;
    justify-content: center;
  }

  .about__content {
    text-align: left;
  }
  .swiper-wrapper{
    display: flex;
    flex-wrap: wrap;
    
        gap: 15px; /* Add space between cards */
        align-items: center; /* Center cards horizontally */
  }
  

  .product__grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer__col1 {
    width: 384px;
   }
   .footer__logo p {
    width: 384px;
    font-size: 16px;
    font-weight: 400;
    color: var(--text-dark);
    letter-spacing: -0.32px;
    margin-bottom: 40px;
  }

  .footer__col {
    width: 224px;
   }
   .logo-default {  
    display: block; /* Hide the default logo on smaller screens */  
  }  
  
  .logo-alternate {  
    display: none; /* Show the alternate logo on smaller screens */  
  }
  

   .lastfootercolumn{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
  }
  .header__container {
    padding: 56px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    justify-content: center;
    margin-top: 140px;
  }
  
}
@media (width > 968px) {
    nav {
      background-color: white;
      padding: 0.5rem 5rem;
      max-width: var(--max-width);
      margin-inline: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      
    }
    
  
  
    .btndiv{
      display: flex;
      justify-content: center;
      width: 100%;
    }
    
  
    .nav__logo a {
      font-size: 1.5rem;
    }
  
    .client {
  
      background: linear-gradient(rgba(162, 121, 229, 0.5), rgba(162, 121, 229, 0.5)), 
                    url('./assets/bg/Tablet.png');
        background-size: cover;
        background-position: center;
    }
    .nav__links {
      position: absolute;
      bottom: 0;
      left: 0;
      top: -350px;
      width: 100%;
      padding-left: 56px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      gap: 2rem;
      background-color: var(--white);
      transition: transform 0.5s;
      z-index: -1;
    }
  
    header {
      padding-top: 0;
    }
  
    .swiper-wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      align-items: center;
  }
  
    .header__content {
      grid-area: 1/2/2/3;
    }
  
    .header__content :is(h4, .header__btn button) {
      margin-inline-start: unset;
    }
  
    .header__content :is(h1, h2) {
      text-align: left;
    }
  
    .header__content p {
      max-width: 400px;
      text-align: left;
    }
  
    .nav__header {
      padding: 24px 56px;
      top: 40px;
  }
  
    .intro__grid {
      grid-template-columns: repeat(3, 1fr);
    }
  
    .about__row {
      flex-direction: row;
      align-items: center;
    }
  
    .about__row:nth-child(4) {
      flex-direction: row-reverse;
    }
  
    .about__image {
      max-width: unset;
      margin-inline: auto;
    }
  
    .about__content {
      text-align: left;
    }
  
    .product__grid {
      grid-template-columns: repeat(3, 1fr);
    }
    .footer__col1 {
      width: 384px;
     }
     .footer__logo p {
      width: 384px;
      font-size: 16px;
      font-weight: 400;
      color: var(--text-dark);
      letter-spacing: -0.32px;
      margin-bottom: 40px;
    }
    
    .footer__col {
      width: 224px;
     }
     .bf{
      width: 100%;
     }
    
    .lastfootercolumn{
      gap: 20px;
      grid-template-columns: repeat(2, 1fr);
    }
    .footer__container {
        justify-content: space-between;
        display: flex;
    }
    
  }

  @media (width > 1024px) {
    nav {
      width: 100%;
    padding: 24px 120px;
    top: 40px;
}
.nav__header {
  padding: 24px 10px;
  top: 40px;
}

.arrow1{
  display: block;
}

.BTNpr-default {  
  display: block; /* Hide the default logo on smaller screens */  
} 
.BTNpr-alternate{
  display: none;
} 
.footer__container {
  justify-content: space-between;
  max-width: var(--max-width);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 80px;
}
.cardflex{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 45px;
}

.mobile{
  width: 0px;
  display: flex;
  gap: 15px;
  align-items: center;
}
.cardimg{
  height: 191px;
  width: 191px;
  flex-shrink: 0;
}
.cardimg img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}
.carddesc{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.carddesc p {
 text-align: left;
}
.nav__links {
  position: static;
  padding: 0;
  flex-direction: row;
  justify-content: flex-end;
  background-color: transparent;
  transform: none;
  padding-right: 40px;
}
.nav__menu__btn {
  display: none;
}
}
@media (width > 1280px) {
    nav {
      background-color: white;
      padding: 0.5rem 5rem;
      max-width: var(--max-width);
      margin-inline: auto;
      display: flex;
      flex-direction: row ;
      align-items: center;
      justify-content: center;  
    }
    .nav__header {
      padding: 24px 120px;
      top: 30px;
  }
  
    img {
      display: flex;

    }
    .client8 {
  
      background: url('./assets/feature/Features\ Section\ footerlaptop.png');
        background-size: cover;
        background-position: center;
        
    }
    .cardde {
      display: flex;
      flex-direction: row;
      align-items: start;
      gap: 32px;
  }

    .arrow1{
      display: none;
    }
    .imge {
  max-width: 100%; /* Ensure the image is responsive */
  height: auto;    /* Maintain the aspect ratio */
  display: block;
  margin: 0 auto;  /* Center align the image */
}
.imge {
  max-width: none; /* Allow the image to go beyond the container width */
  width: auto;     /* Maintain the original width */
  display: block;
}
.image-wrapper {
  overflow-x: auto; /* Enables horizontal scrolling */
  max-width: 100%; /* Ensure the image container doesn't exceed screen size */
  white-space: nowrap; /* Prevent wrapping of child elements */
}
    .swiper-wrapper{
      display: flex;
      justify-content: center;
      gap: 40px;
    }
    
    .btndiv{
      display: flex;
      justify-content: center;
      width: 100%;
    }
    .box-steps{
      display: flex;
      justify-content: center;
      flex-direction: row;
      
    }
    .box-steps-desc{
      display: flex;
      flex-direction: column;
      width: 490px;
    }

  .cardsteps{
    max-width: 500px;
  }
  .header__image1 img {
    max-width: 565px;
  }
  .header__image2 img {
    max-width: 591px;
  }
  
  
    .header__container1 {
      padding: 24px;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      justify-content: center;
      padding-top: 120px;
      margin-top: 120px;
  }
  .header__container1 {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    padding-top: 0px;
}
  .header__container2 {
    padding: 24px;
    display: flex;
    padding-top: 120px;
    padding-bottom: 120px;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
}
  .header__content1{
    max-width: 465px;
  }
    .client {
  
      background: linear-gradient(rgba(162, 121, 229, 0.5), rgba(162, 121, 229, 0.5)), 
                    url('./assets/bg/minilaptop.png');
        background-size: cover;
        background-position: center;
        margin-top: 140px;
    }
  
    .nav__logo a {
      font-size: 1.5rem;
    }
  
    .nav__menu__btn {
      display: none;
    }
  
    
  
    header {
      padding-top: 0;
    }
  
    .header__container {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      display: flex;
    }
    
    .statis-wrapper {
      overflow-x: hidden;
      overflow-y: hidden;
      display: flex;
      justify-content: center;
      scroll-behavior: smooth;
  }
  
    .header__content {
      grid-area: 1/2/2/3;
    }
  
    .header__content :is(h4, .header__btn button) {
      margin-inline-start: unset;
    }
  
    .header__content :is(h1, h2) {
      text-align: left;
    }
  
    .header__content p {
      max-width: 400px;
      text-align: left;
    }
  
    .header__image img {
      max-width: 500px;
    }
  
    .intro__grid {
      grid-template-columns: repeat(3, 1fr);
    }
  
    .about__row {
      flex-direction: row;
      align-items: center;
    }
  
    .about__row:nth-child(4) {
      flex-direction: row-reverse;
    }
  
    .about__image {
      max-width: unset;
      margin-inline: auto;
    }
  
    .about__content {
      text-align: left;
    }
  
    .product__grid {
      grid-template-columns: repeat(3, 1fr);
    }
    .footer__col1 {
      width: 384px;
     }
     .footer__logo p {
      width: 384px;
      font-size: 16px;
      font-weight: 400;
      color: var(--text-dark);
      letter-spacing: -0.32px;
      margin-bottom: 40px;
    }
    
    .lastfootercolumn{
      gap: 30px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
    .boxyy {
      margin-top: 4rem;
      width: 570px;
      margin-left: 500px;
  }
    
  }
@media (width > 1940px) {
  .navbar{
    width: 100%;
    background-color: white;
  }
    .btndiv{
      display: flex;
      justify-content: center;
      width: 100%;
    }
    .nav__header {
      padding: 24px 240px;
      /* max-width: var(--max-width); */
      background-color: white;
    }
  
    .nav__logo a {
      font-size: 1.5rem;
    }
  
    .nav__menu__btn {
      display: none;
    }

    .client {
  
      background: linear-gradient(rgba(162, 121, 229, 0.5), rgba(162, 121, 229, 0.5)), 
                    url('./assets/bg/2500.png');
        background-size: cover;
        background-position: center;
        
    }
    .header__container2 {
      padding: 24px;
      display: flex;
      padding-top: 120px;
      padding-bottom: 120px;
      flex-direction: row;
      gap: 2rem;
      gap: 120px;
      justify-content: center;
  }
    .buttonsteps {
      display: flex;
      width: 655px;
  }
  .header__content0001 p {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.36px;
    width: 655px;
}

   
    .box-steps-desc{
      width: 655px;
    }
    .arrow1{
      display: none;
    }
    header {
      padding-top: 120px;
    }
    .section__container5 {
      max-width: 100%;
      padding: 0;
      margin: auto;
      gap: 120px;
  }

    .client8 {
  
      background: url('./assets/feature/Features\ Section\ footerdesktop.png');
        background-size: cover;
        background-position: center;
        
    }
    .header__content {
      grid-area: 1/2/2/3;
    }
  
    .header__content :is(h4, .header__btn button) {
      margin-inline-start: unset;
    }
  
    .header__content :is(h1, h2) {
      text-align: left;
    }
  
    .header__content p {
      max-width: 400px;
      text-align: left;
    }
  
    .header__image img {
      max-width: 655px;
    }
  
    .intro__grid {
      grid-template-columns: repeat(3, 1fr);
    }
  
    .about__row {
      flex-direction: row;
      align-items: center;
    }
  
    .about__row:nth-child(4) {
      flex-direction: row-reverse;
    }
  
    .about__image {
      max-width: unset;
      margin-inline: auto;
    }
  
    .about__content {
      text-align: left;
    }
  
    .product__grid {
      grid-template-columns: repeat(3, 1fr);
    }
    .boxyy {
      margin-top: 4rem;
      width: 633px;
      margin-left: 500px;

      
    }
  
    .footer__container {
      display: flex;
    }
    .lastfootercolumn{
    display: flex;
    justify-content: space-between;
      
    }
    footer .bf{
      background-color: white;
      padding: 0.5rem 5rem;
      max-width: var(--max-width);
      margin-inline: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    footer .footer__container{
      background-color: white;
      padding: 0.5rem 5rem;
      max-width: var(--max-width);
      margin-inline: auto;
      display: flex;
      flex-direction: row;
      align-items: start;
      padding-top: 80px;
      justify-content: center;
    }
    
    .footerbarbelow{
      padding-left: 0px;
      padding-right: 0px;
    }
    

  }

  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  /* Image wrapper for scrollable effect */
  .image-wrapper {
    overflow-x: auto; /* Allows horizontal scrolling */
    white-space: nowrap; /* Ensures the image doesn’t wrap */
    display: flex;
    scroll-behavior: smooth; /* Enables smooth scrolling */
    max-width: 100%; /* Prevents overflow beyond the viewport */
  }
  /* Image styling */
  
  /* Arrows for navigation */
  .arrow1 {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    background-color: transparent; 
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
    padding: 10px;
    color: var(--Intripid-Primary-A279E5, #A279E5);
    font-family: "Font Awesome 6 Pro";
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 116%;
    letter-spacing: -0.84px;
  }
  .arrow.left {
    left: 10px;
  }
  .arrow.right {
    right: 10px;
  }
  .arrow:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  /* Fullscreen for PC */
  @media (min-width: 1225px) {
    .image-wrapper {
      overflow: hidden; /* Prevent scrolling on PC */
    }
    .image-wrapper img {
       /* Fullscreen height */
      object-fit: cover; /* Ensures the image fits nicely */
    }
  }
  /* Enable scrolling for tablets and phones */
  @media (max-width: 1224px) {
    .image-wrapper img {
      width: auto;
    }
  }



  
