
<div class="navlang">
    <div class="language-bar">
      <div class="language">
        <span class="flag-icon"><i class="fa-regular fa-globe"></i></span>
        <span class="current-language">English</span>
        <span class="dropdown-icon"><img src="./assets/icons/chevron-down.png" alt=""></span>
      </div>
      <ul class="language-dropdown">
        <li data-lang="English">English</li>
        <li data-lang="Español">Español</li>
        <li data-lang="Français">Français</li>
        <li data-lang="Deutsch">Deutsch</li>
      </ul>
    </div>
  </div>